.btn {
    font-family: 'Autogate', sans-serif;
    font-weight: normal;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
    background-color: var(--dark);
    border-color: var(--secondary);

}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
    background-color: var(--secondary);
    border-color: var(--light);
}

.button {
    width: 100%;
    position: relative;
    text-align: center;
    color: #05f125;
    font-size: 1rem;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    background: transparent;
    background-color: transparent;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.button::before,.button::after {
    content: "";
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.button::before {
    background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),to(#fff));
    background: linear-gradient(90deg,rgba(255,255,255,0) 0,#1cf87f);
    -webkit-transform-origin: right;
    transform-origin: right
}

.button::after {
    background: -webkit-gradient(linear,right top,left top,color-stop(0,rgba(255,255,255,0)),to(#fff));
    background: linear-gradient(270deg,rgba(255,255,255,0) 0,#1cf87f);
    -webkit-transform-origin: left;
    transform-origin: left
}

.button span {
    position: relative;
    background: #00bb1959;
    color: #ffffff;
    display: inline-block;
    padding: .625rem 1.5625rem;
    border-style: solid;
    border-color: #06bd00;
    border-width: 1px;
    margin-left: .3125rem;
    margin-right: .3125rem;
    font-size: .9375rem;
    z-index: 1;
    font-family: titillium-regular;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.button span::before,.button span::after {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    content: "";
    z-index: -1;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.button span::before {
    left: 0
}

.button span::after {
    right: 0
}

.button:hover {
    text-decoration: none;
    color: #fff;
    outline: 0
}

.button:hover::before,.button:hover::after {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.button:hover span {
    color: #ffffff
}

.button:hover span::before,.button:hover span::after {
    width: 50%;
    background: #000000
}

.btn-destaque {
    color: #FFFFFF;
    box-shadow: inset 0 0 5px rgba(15, 146, 26, 0.7), 0 0 10px rgba(15, 146, 26, 0.7), 0 0 30px rgba(15, 146, 26, 0.7), 0 0 4px rgba(15, 146, 26, 0.7);
    background-color: linear-gradient(90deg, rgb(80, 152, 8) 58%, rgba(255, 255, 255, 0) 95%);

}

.btn-destaque:hover {
    box-shadow: 0 0 20px rgba(252, 252, 252, 0.829);
    background-color: var(--secondary);

}
