.header-fixed {
    position: fixed;
    top: 1px;
    width: 100%;
    height: 100px;
    background: linear-gradient(354deg, rgba(95, 96, 94, 0.856) 0%, rgba(0, 0, 0, 1) 5%, rgba(36, 35, 35, 1) 49%, rgba(0, 0, 0, 1) 85%, rgba(95, 96, 94, 0.875) 98%);
    z-index: 1000;
    box-shadow: 0 0 1px rgba(15, 146, 26, 0.7), 0 0 3px rgba(15, 146, 26, 0.7), 0 0 10px rgba(15, 146, 26, 0.7), 0 0 4px rgba(15, 146, 26, 0.7);
    transition: top 0.3s; /* Suavizar a transição de ocultar */
    text-align: center;
}

.header-fixed img{
    max-width: 250px;
}

@media (max-width: 992px) {
    .header-fixed{
        top:0;
        height: 100px;
    }
    
    .header-fixed img{
        max-width: 250px;
    }

    .content {
        padding-top: 150px;
    }
}