.banner-container {
    position: relative; /* Define o container como relativo para o posicionamento do texto */
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute; /* Faz com que o texto fique sobre a imagem */
    top: 60%; /* Posição vertical */
    left: 65%; /* Posição horizontal */
    transform: translate(-50%, -50%); /* Centraliza o texto no centro da imagem */
    color: white; /* Cor do texto */
    font-size: 1.5rem; /* Tamanho da fonte */
    text-align: right; /* Centraliza o texto */
    padding: 10px;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .banner-text {

        font-size: 1rem; /* Tamanho menor para tablets e celulares */
        width: 90%; /* Ajusta a largura do texto para dispositivos menores */
        left: 50%;
    }
}

@media (max-width: 576px) {
    .banner-text {
        font-size: 0.7rem; /* Tamanho ainda menor para telas muito pequenas */
        width: 95%;
        /* background-color: #2423238c;
        border-radius: 5px; */
    }
}

/**Seção Sobre**/
.about-section {
    background: linear-gradient(rgba(0, 0, 0, 0.856) 0%, rgba(36, 35, 35, 1) 49%);
    border-radius: 5px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    margin: 10px;
}

.about-section h2 {
    color: var(--light);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    color: var(--light);
    font-size: 1.2rem;
}

.counter-section {
    text-align: center;
    padding: 50px;
    background-color: #000;
    border-radius: 8px;
    border-top:solid 4px #0f921a;
    border-bottom:solid 4px #0f921a;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.61);
}

.counter-section .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.counter {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    opacity: 0;
    transition: color 0.5s ease-in-out;
    margin: 20px 100px;
    padding-top: 40px;
    background-color: #ffffff;
    box-shadow: 4px 0 10px 4px rgba(0, 0, 0, 0.61);
    border-radius: 150px 150px 0 0;
    border-top: solid 15px transparent;
    border-bottom: solid #202020 5px;
    flex: 1 1 30%; 

}

.counter-section .counter {
    opacity: 1;
}

.counter-section p {
    font-family: 'Autogate', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
    flex: 1 1 30%; 
}

@media (max-width: 768px) {
    .counter {
        margin: 20px 100px; 
    }
}

@media (max-width: 576px) {
    .counter {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte em telas bem pequenas */
        padding-top: 30px; /* Ajusta o espaçamento interno */
        margin: 20px 100px;
    }
   
}


/* Seção: Why choose */
#why-choose-us {
    background: linear-gradient(rgba(0, 0, 0, 0.856) 0%, rgba(36, 35, 35, 1) 49%);
    border-radius: 5px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    margin: 10px;
}

.feature-box {
    background: rgba(0, 0, 0, 0.795);
    border-radius: 10px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    
    height: 100%; /* Garante que a altura seja consistente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-bottom: 10px solid rgba(15, 146, 26, 0.788);
    border-top: 5px solid rgba(15, 146, 26, 0.788);
    box-shadow: 0 -8px 8px rgba(15, 146, 26, 0.788), 0 8px 8px rgba(15, 146, 26, 0.788); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-choose {
    color: #0f921a;
    font-size: 4rem;
    /* Cor do ícone */
}

.feature-title {
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--light);
    /* Cor do título */
}

.feature-description {
    font-size: 1rem;
    color: var(--light);
    border-top: #0f921a solid 2px;
    border-bottom: #0f921a solid 2px;
    border-radius: 4px;
    background-color: #ffffff38;
    padding: 5px;
}

/* Seção: Depoimentos */
#testimonials {
    background: var(--middle);
    color: var(--light);
    border-radius: 10px;
    padding: 3rem 0;
    position: relative;
    z-index: -1;
    overflow: hidden; 
}

#testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/rexperformance-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1;
}

#testimonials .container {
    position: relative;
}


.testimonial-item {
    text-align: center;
    padding: 2rem;
    background: rgba(2, 43, 5, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.testimonial-text {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--light);
    margin-bottom: 1.5rem;
}

.testimonial-author {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary);
    font-family: 'Autogate', Arial, sans-serif;
}

/* Controles do Slider */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

/* Controle de margens nos botões de controle do slider */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Reduz a área clicável dos botões */
}

/* Seção: Como Funciona */
#how-it-works {
    background: linear-gradient(rgba(0, 0, 0, 0.856) 0%, rgba(36, 35, 35, 1) 49%);
    border-radius: 5px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    padding: 4rem 0; /* Padding superior e inferior */
}

.step-card {
    background: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    box-shadow: 0 8px 8px rgba(15, 146, 26, 0.788); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%; /* Garante que a altura seja consistente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-card:hover {
    transform: translateY(-10px);
    border-top: 10px solid rgba(15, 146, 26, 0.788);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.63);
}

.step-icon {
    color: #0f921a;
    margin-right: 1rem; /* Espaço entre o ícone e o texto */
    font-size: 3rem; /* Ajusta o tamanho do ícone */
}

.step-content {
    flex: 1;
}

.step-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--dark); /* Cor do título */
}

.step-description {
    font-size: 1rem;
    color: var(--middle); /* Cor da descrição */
}

/**Seção Contato**/

.contact-section {
    margin: 50px;
    padding: 50px 0;
    background-color: #000000;
}

.container-contact{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    /* background: var(--middle); */
}

.contact-title h5{
    font-family: 'Autogate';
}

.contact-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'Autogate', Arial, Helvetica, sans-serif;
    text-align: center;
}

.contact-icon {
    font-size: 50px;
    margin-right: 20px;
    color: #009d00;
    justify-content: space-between;
}


.contact-info a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.contact-info span {
    font-size: 2rem;

}

.form-container {
    background-color: var(--dark);
    padding: 30px;
    border-radius: 8px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input,
.form-container textarea {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.form-container textarea {
    resize: none;
}

.form-container button {
    background-color: #009d00;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #007a00;
}

/* Seção: Anuncios */
#rex-show {
    /* background-color: var(--middle); */
    padding: 4rem 0;
    position: relative;
    z-index: 1;
    margin: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(36, 35, 35, 1) 49%);
    border-radius: 5px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    padding: 4rem 0;
}

#rex-show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../img/rexlift-bg-destaque.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

#rex-show .container {
    position: relative;
}

