/* assets/css/style.css */

@import 'typography.css';
@import './header.css';
@import 'navbar.css';
@import 'buttons.css';
@import 'sections.css';
@import 'footer.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary: #000000;
    --secondary: #009d00;
    --light: #cecece;
    --dark: #0a3d08;
    --middle: #232020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bahnscrift', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--light);
    background-color: var(--primary);
}

h1 {
    font-family: 'Autogate', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: normal;
}

h5 {
    font-family: 'Autogate', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

.text-shadow-smoky {
    text-shadow: 3px 3px 3px rgba(2, 56, 10, 0.562);
}


/*** Miscellaneous ***/
.whatsapp-button {
    position: fixed;
    display: flex; /* Usar flexbox para centralizar o conteúdo */
    align-items: center; /* Alinha verticalmente o ícone */
    justify-content: center; /* Alinha horizontalmente o ícone */
    right: 45px;
    bottom: 45px;
    z-index: 99;
    background-color: #25d366; /* Cor do WhatsApp */
    color: white;
    border-radius: 50%;
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    box-shadow: 0 4px 4px rgba(0, 68, 40, 0.788);
    transition: background-color 0.3s ease-in-out;
}

.whatsapp-button i {
    font-size: 28px; /* Tamanho do ícone */
}

.whatsapp-button:hover {
    background-color: #042925; /* Cor mais escura ao passar o mouse */
    box-shadow: 0 4px 8px rgba(194, 243, 222, 0.788);
    color: white;
}

